<!DOCTYPE html>
<html>
    <head>
        <title>Les auteurs</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <h1>All Titles</h1>
        <ul>
         <%
            var list = '';
            for (i = 0; i < auteurs.length; i++) {
                
                let str = auteurs[i].fields.titre_avec_lien_vers_le_catalogue;
                if(str.substr(0, 1)=='N'){
                list += '<li>' + auteurs[i].fields.auteur + '</li>';
                }
            }
        %>
        <%- list %>
        </ul>
    </body>
</html>
